@import url(/reset/reset.css);

#POSbody {
    box-sizing: border-box;
    align-items: center;
}

input[type=checkbox] {
    display: none;
}

.dropdown-bar {
    display: none;
}

.dropdown-menu:checked~.dropdown-bar {
    display: block;
}

header {
    overflow: hidden;

    margin-bottom: 2em;
    margin-right: 10%;
}

#logo {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    float: left;
    padding: 25px 20px;
    margin-left: 12%;

}

#navbar {
    align-content: center;
}

#navsec {
    background-color: blueviolet;
    font-family: 'Open Sans', sans-serif;
}

#formsection {
    background-size: cover;
    background-position: center;
    display: flex;

    justify-content: center;

    color: black;
    align-items: center;
}

#field1 {
    text-align: center;
    padding: 2em;
    color: black;
}

#submit {
    flex-direction: column
}

#h2contact {
    font-size: 20pt;
}

fieldset {
    justify-content: center;
}


#mainsec p {
    font-size: large;

    margin-left: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav a {
    overflow: hidden;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 25px 35px;
    display: inline-block;
    transition: all 0.5s ease 0s;

}

#homebody {
    background-color: rgb(77, 77, 247);

    font-family: 'Open Sans', sans-serif;

}

#mainfooter {
    height: 100px;
    background-color: #8500be;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    padding: 0.5em;
    margin-bottom: 0em;
}

#fallfooter {
    height: 100px;
    background-color: #8500be;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    padding: 0.5em;
    margin-bottom: 0em;
}

#historyfooter {
    height: 100px;
    background-color: #8500be;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    padding: 0.5em;
    margin-bottom: 10em;
}

.dropdown {
    float: left;
    padding-top: 25px;
}

.dropdown label {
    padding: 25px 30px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.dropdown-bar {

    position: absolute;
    background-color: #262626;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}




#indeximg {
    margin-left: 17em;
}

#indeximgtwo {
    float: right;
    margin-right: 17em;
}

header h1 {
    font-size: 4.4em;
    color: red;
    text-align: center;
    text-shadow: 5px #262626;



}

header h2 {
    font-size: 2.1em;
    color: rgb(5, 5, 99);
    font-weight: bold;
    text-shadow: 5px #333;

}

#homeheader {
    height: 300px;
    background-image: url(/images/istockphoto-1080426744-612x612.jpg);
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    color: white;
    align-items: center;
    margin-left: 10em;
}

#POSbody {
    background-color: aliceblue;
}

#POSmain {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    justify-content: center;
    align-items: center;
}

#submit {

    padding: 2em;
    font-weight: bold;
    font-size: large;
    margin-bottom: 4em;
    margin-right: 20%;

}

#delbody {
    align-content: center;
}

#contactbody {
    align-content: center;
}

#fallbody {
    background-color: #333;
    color: #ecf0f1;
    font-size: medium;
    font-style: normal;
}

#historybody {
    background-color: #333;
    color: #ecf0f1;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#quote {
    text-shadow: 5px #333;

}

#catboot {
    width: 20%;
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;

}



article {
    width: 200px;
    padding: 1em;

}

#fallpic {
    float: right;
    width: 400px;
}

article img {
    width: 100%;
}

#fallcontent {
    display: flex;
    margin-left: 2em;
    display: flex;
    flex-wrap: wrap;
}
#fallcontent2 {
    display: flex;
    margin-left: 2em;
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 30%;
    order: 1;
}

#fallh2 {
    font-weight: bold;
}

#historyheader {
    height: 300px;
    background-image: url(/images/DALL·E\ 2022-12-04\ 15.50.11\ -\ outside\ of\ a\ rainboot\ store\ with\ logo.png);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10em;
    gap: 1em;
    color: white;
    align-items: center;

}

#historyheader h1 {
    color: rgb(204, 6, 6);
    text-shadow: #262626;
    font-size: 3.4em;
}

#me {
    text-align: center;
}
h3{
    font-size: large;
    font-style: bold;
}

#aboutme {
    margin: 20px;
    margin-left: 5em;
    line-height: 1.5em;
}

#aboutmelist {
    list-style-type: none;
    width: 1000px;
}

#aboutmeh3 {
    font: bold 20px/1.5, 'roboto', sans-serif;
}

#aboutmepic1 {
    float: left;
    margin: 0 20px 0 0;
    margin-bottom: 6em;
}

#aboutmepic2 {
    float: right;
    margin: 0 15px 0 0;
    margin-left: 2em;
    margin-bottom: 1em;
}

#aboutmepic3 {
    float: left;
    margin: 0 15px 0 0;
    margin-top: 1em;
}



#about {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;

}

#aboutmelist {
    padding: 10px;
    overflow: auto;
}


#contactslots {
    display: flex;
}

#cartbutt {
    margin: 1em;
}
#cartbody{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

#demo3 {
    color: white;
}
td {
    margin-right: 2em;
}
#total {
    margin-bottom: 2em;
}