@import url(/reset/reset.css);

input[type=checkbox] {
    display: none;
}

.dropdown-bar {
    display: none;
}

.dropdown-menu:checked~.dropdown-bar {
    display: block;
}

header {
    overflow: hidden;
   
   margin-bottom: 2em;
   margin-right: 10%;
}

#logo {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    float: left;
    padding: 25px 20px;
    margin-left: 12%;

}

#navbar {
    align-content: center;
}

#navsec {
    background-color: blueviolet;
    font-family: 'Open Sans', sans-serif;
}



#mainsec p {
    font-size: large;
    
   margin-left: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav a {
overflow: hidden;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 25px 35px;
    display: inline-block;
    transition: all 0.5s ease 0s;

}

#homebody {
    background-color: rgb(19, 227, 246);
 
    font-family: 'Open Sans', sans-serif;
 
}

#footer {
    height: 100px;
    background-color: #8500be;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    padding: 0.5em;
    margin-bottom: 0em;
}

.dropdown {
    float: left;
    padding-top: 25px;
}

.dropdown label {
    padding: 25px 30px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
#homebody {
    line-height: 1;
}
.dropdown-bar {

    position: absolute;
    background-color: #262626;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#contactbody {
    align-content: center;
}



#indeximg {
    margin-left: 17em;
}
#indeximgtwo {
    float: right;
    margin-right: 17em;
}
header h1 {
    font-size: 4.4em;
    color:darkblue  ;
    text-align: center;
    

}

 header h2 {
    font-size: 2.1em;
    color: rgb(5, 5, 99);
    font-weight: bold;
}
#homeheader {
height: 300px;
background-image: url(/images/istockphoto-1080426744-612x612.jpg);
background-size: cover;
background-position: left;
display: flex;
flex-direction: column;
justify-content: center;
gap:1em;
color:white;
align-items: center;
margin-left: 10em;
}

#POSbody {
    background-color: aliceblue;
}

#POSmain {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#inventory,
#featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contactslots {
    display: flex;
}

table {
    width: 100%;
    margin: 1em;
    font-family: 'Courier New', Courier, monospace;
}

thead {
    background-color: #0046be;
    color: #fff;
}

tbody tr:nth-of-type(odd) {
    background-color: #ecf0f1;
}

tfoot {
    background-color: #0046be;
    color: #fff;
}

th {
    text-align: center;
    font-weight: bold;
}

tfoot th {
    text-align: left;
}

th,
td {
    padding: 0.5em;
}

.quantity,
.price,
.subtotal,
#total {
    text-align: right;
}

tr:not(last-child) {
    border-bottom: 1px dashed #333;
    border-top: 1px dashed #333;
}

th:not(:last-child),
td:not(:last-child) {
    border-right: 1px dashed #333;
}
main {
    display: flex;
    flex-wrap: wrap;
}
#catboot {
    width: 20%;
    float:left;
    margin-right: 2em;
    margin-bottom: 1em;

}
#fallcontent {
    display: flex;
    flex-wrap: wrap;
}
article {
    width: 200px;
    padding: 1em;

}

article img {
    width: 100%;
}

#fallcontent {
    display: flex;
    margin-left: 2em;
}

aside {
    width: 30%;
    order: 1;
}
#fallh2 {
    font-weight: bold;
}